# Analise de notas dos alunos da UFRN

### Introdução

Nesse notebook vamos fazer correlações a respeito das notas obtidas em disciplinas do IMD do semestre 2015.1 até 2017.2 e assim mostrar desempenho dos alunos nessas materias e com isso tentarremos descobrir o que pode estar levando os alunos a tirarem as notas que encontrarmos.

### Recursos utilizados

Para chegarmos aos resultados esperados vamos utilizar os arquivos ".csv" dispolibilizados pela UFRN no portal de dados abertos. Apois isso vamos utilizar bibliotecas famosas da area de BigData como pandas e numpy para manipular os dados. No final vamos utilizar o a biblioteca Bokeh para expor os resultados finais.

In [1]:
!pip install pandas
!pip install numpy
!pip install bokeh

Requirement already satisfied: pandas in c:\users\nalbe\anaconda3\lib\site-packages (0.20.3)
Requirement already satisfied: python-dateutil>=2 in c:\users\nalbe\anaconda3\lib\site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in c:\users\nalbe\anaconda3\lib\site-packages (from pandas) (2017.2)
Requirement already satisfied: numpy>=1.7.0 in c:\users\nalbe\anaconda3\lib\site-packages (from pandas) (1.13.3)
Requirement already satisfied: six>=1.5 in c:\users\nalbe\anaconda3\lib\site-packages (from python-dateutil>=2->pandas) (1.11.0)

notebook 5.4.0 requires terminado>=0.8.1, which is not installed.

Requirement already satisfied: numpy in c:\users\nalbe\anaconda3\lib\site-packages (1.13.3)

notebook 5.4.0 requires terminado>=0.8.1, which is not installed.

Requirement already satisfied: bokeh in c:\users\nalbe\anaconda3\lib\site-packages (0.12.10)
Requirement already satisfied: six>=1.5.2 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (1.11.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (3.12)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (2.6.1)
Requirement already satisfied: Jinja2>=2.7 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (2.9.6)
Requirement already satisfied: numpy>=1.7.1 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (1.13.3)
Requirement already satisfied: tornado>=4.3 in c:\users\nalbe\anaconda3\lib\site-packages (from bokeh) (4.5.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nalbe\anaconda3\lib\site-packages (from Jinja2>=2.7->bokeh) (1.0)

notebook 5.4.0 requires terminado>=0.8.1, which is not installed.

In [1]:
import pandas as pd
import numpy as np
import bokeh
from urllib.request import urlopen

In [2]:
url_componentes_curriculares = 'http://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/9a3521d2-4bc5-4fda-93f0-f701c8a20727/download/componentes-curriculares-presenciais.csv'
url_matriculas_2015_2 = 'http://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/baa6c8b4-2072-417f-b238-c028ccc8c14b/download/matriculas-de-2015.2.csv'

In [3]:
# componentes_curriculares
filedata = urlopen(url_componentes_curriculares)  
datatowrite = filedata.read()

with open('componentes_curriculares.csv', 'wb') as f:  
    f.write(datatowrite)
    
# matriculas_2015-2.csv
filedata = urlopen(url_matriculas_2015_2)  
datatowrite = filedata.read()

with open('matriculas_2015-2.csv', 'wb') as f:  
    f.write(datatowrite)

In [4]:
componentes_curriculares = pd.read_csv('componentes_curriculares.csv', sep=';', error_bad_lines=False)
matriculas_2015_2 = pd.read_csv('matriculas_2015-2.csv', sep=';')

b'Skipping line 8782: expected 30 fields, saw 33\nSkipping line 12294: expected 30 fields, saw 33\nSkipping line 12302: expected 30 fields, saw 31\nSkipping line 12597: expected 30 fields, saw 37\nSkipping line 12877: expected 30 fields, saw 34\nSkipping line 15252: expected 30 fields, saw 31\nSkipping line 15649: expected 30 fields, saw 38\nSkipping line 16074: expected 30 fields, saw 34\nSkipping line 19589: expected 30 fields, saw 31\nSkipping line 21501: expected 30 fields, saw 31\nSkipping line 26077: expected 30 fields, saw 31\nSkipping line 26100: expected 30 fields, saw 34\nSkipping line 28024: expected 30 fields, saw 37\nSkipping line 29326: expected 30 fields, saw 31\nSkipping line 29327: expected 30 fields, saw 31\nSkipping line 31530: expected 30 fields, saw 32\nSkipping line 31806: expected 30 fields, saw 34\n'
b'Skipping line 36541: expected 30 fields, saw 31\nSkipping line 36551: expected 30 fields, saw 34\nSkipping line 36940: expected 30 fields, saw 34\nSkipping line 36965: expected 30 fields, saw 31\nSkipping line 36982: expected 30 fields, saw 42\n'
C:\Users\nalbe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (9,10,14,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
componentes_curriculares.head()

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente,Unnamed: 29
0,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN,NaN
1,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN,NaN
2,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN,NaN
3,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN,NaN
4,18647,DISCIPLINA,MUT167,T,PIANO COMPLEMENTAR III,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN,NaN

In [7]:
matriculas_2015_2.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
0,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
1,57570637,0895063ce0156164f27e9d98c5cae448,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
2,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,1.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
3,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,2.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN
4,57570637,b9ef70a3b1e9ce6481cc2f120d5f6c4e,104720950.0,3.0,9.5,f,0.0,9.5,0.0,APROVADO,NaN